[submodule "pack/pda/start/jellybeans.vim"]
	path = pack/pda/start/jellybeans.vim
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule "pack/pda/start/ctrlp.vim"]
	path = pack/pda/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "pack/pda/start/vim-go"]
	path = pack/pda/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "pack/pda/start/vim-fugitive"]
	path = pack/pda/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/pda/start/vim-surround"]
	path = pack/pda/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/dman/start/vim-nerdtree"]
	path = pack/dman/start/vim-nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "pack/dman/start/vim-supertab"]
	path = pack/dman/start/vim-supertab
	url = https://github.com/ervandew/supertab.git
[submodule "pack/dman/start/vim-checksyntax"]
	path = pack/dman/start/vim-checksyntax
	url = https://github.com/tomtom/checksyntax_vim
[submodule "pack/dman/start/vim-airline"]
	path = pack/dman/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/dman/start/vim-gnugpg"]
	path = pack/dman/start/vim-gnugpg
	url = https://github.com/jamessan/vim-gnupg.git
[submodule "pack/dman/start/vim-puppet"]
	path = pack/dman/start/vim-puppet
	url = https://github.com/rodjek/vim-puppet.git
[submodule "pack/dman/start/vim-python"]
	path = pack/dman/start/vim-python
	url = https://github.com/python-mode/python-mode.git
